#navigation{
background-color:green;
border-radius:0;
border:0;
text-shadow: 1px 1px 1px #222;

}
h1{

padding-bottom:40px;
}
.back-to-top-link{
display:none;
}



.container .dropdown-menu {
    position: static;
    float: none;
}


@media screen and (max-width: 480px) {
  .back-to-top-link{
display:inline;
}

}



@media(min-width:481px) and (max-width:768px){
.navbar-toggler{
	
	display:none;
}


.col-md-6{
float:left;
width:44%;
margin-left:3%;
margin-right:3%;
margin-top:6%
}

#wider{
width:100%
}

}

@media(min-width:769px) and (max-width:1024px){
.navbar-toggler{
	
	display:none;
}

.col-md-6{
float:left;
width:44%;
margin-left:3%;
margin-right:3%;
margin-top:6%
}
#wider{
width:100%
}

	
}



@media(min-width:1025px) and (max-width:1200px){
.navbar-toggler{
	
	display:none;
}

}


@media screen and (min-width:1201px){
.navbar-toggler{
	
display:none;
}

}